fastapi==0.115.6
uvicorn[standard]==0.34.0
pymysql[pool]==1.1.1
DBUtils==3.1.0
sqlparse==0.5.3
chromadb==0.6.3
sentence-transformers==3.4.1
openai==1.68.0
faker==35.2.0
pydantic==2.10.5
python-multipart==0.0.19
sse-starlette==2.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
aiosqlite==0.20.0
slowapi==0.1.9
python-dotenv==1.0.1
bcrypt==4.0.1